/* Reset default styles */
* {

  --color-palete-1: #B52A2A;
  --color-palete-2: #CFA16A;
  --color-palete-3: #6B4226;
  --color-palete-4: #FAF3EB;
  --color-palete-5: #4D2C1A;

  --text-font-family: "Montserrat";
  --text-font-style: normal;
  --text-font-weight: 500;

  --color-background: var(--color-palete-4);
  --color-primary: var(--color-palete-1);
  --color-secondary: var(--color-palete-2);

  --color-text: var(--color-palete-5);
  --color-link: var(--color-palete-4);

  --color-button-background: var(--color-palete-1);
  --color-button-text: var(--color-palete-4);

  --color-button-icon: var(--color-palete-3);


  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
}

.tipografia-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  align-items: center;
  margin-bottom: 200px;
}

.tipografia {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tipografia-1 {
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 600;
  color: var(--color-palete-1);
}

.tipografia-1 span:first-child {
  font-size: 30px;
}

.tipografia-2 {
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 500;
  color: var(--color-palete-3);
}
.tipografia-2 span:first-child {
  font-size: 30px;
}

.tipografia-3 {
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  color: var(--color-palete-3);
}
.tipografia-3 span:first-child {
  font-size: 20px;
}

/* Light mode (default) */
body {
  /* background-image: linear-gradient(0deg, #ff0000 0%, #ffff00 100%); */
  /* backdrop-filter: url(/images/noise.svg#noise) opacity(0.25); */
  background-color: var(--color-background);
  padding: 10px;
  min-height: 100svh;
  height: 100%;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.container {
  width: 90%;
  max-width: 450px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid var(--color-palete-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 125%;
  height: 125%;
  object-fit: cover;
}

.name {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
  color: var(--color-primary);
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-primary);
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

@media (hover: hover) {
  .link-button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.05);
  }
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: var(--color-palete-5);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 15px;
  margin: 10px;
}

.icon-button {
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  background: none;
  color: var(--color-button-icon);
}

.icon-button i {
  font-size: 24px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

.icon-button:hover {
  transform: scale(1.1);
  /* color: var(--color-secondary); */
}

/* .icon-button:active {
  transform: scale(0.95);
} */

.link-button-text {
  font-size: 14px;
  color: var(--color-palete-5);
}

.copyright {
  margin-top: 15px;
  font-size: 12px;
}

.background-overlay {
  /* background: rgba(255, 255, 255, 0.6); */
  /* color: #000000; */
  border: 2px solid var(--color-palete-2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  text-align: center;
  flex: 1
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-button {
  /* border: none; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  background-color: var(--color-primary);
  filter: drop-shadow(2px 2px 5px rgb(118, 84, 54));
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-title {
  /* border: none; */
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  cursor: pointer;
}

/* .collapsible-active .collapsible-content {
  max-height: 100vh;
  padding: 20px;
} */
/* Style the button that is used to open and close the collapsible content */
@media (hover: hover) {
  .collapsible-button:hover:not(.collapsible-active) {
    background-color: var(--color-secondary);
    transform: scale(1.05);
  }
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-hide {
  display: none;
}

.collapsible-content {
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 100vh;
  padding: 20px;
  /* transition: max-height 0.3s ease-out, padding 0.3s ease-out; */
  display: flex;
  gap: 10px;
  flex-direction: column;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content img {
  max-width: 100%;
  height: auto;
}

#cobertura-map {
  height: 410px;
}

.warn {
  display: flex;
  background-color: #F8F4D5;
  border: #e9dd7e 2px solid;
  color: #96722E;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  align-items: center;
}

.warn i {
  vertical-align: middle;
  padding: 5px;
}

.warn span {
  text-align: left;
}

.hidden {
  display: none;
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117;
    color: white;
  }

  a {
    color: white;
  }

  .profile-pic {
    border-color: white;
  }

  .description {
    color: #c9d1d9;
  }

  .link-button {
    background-color: #21262d;
    color: white;
  }

  .link-button:hover {
    background-color: #30363d;
  }

  .icon-button {
    color: white;
  }

  .footer {
    color: #8b949e;
  }

  .link-button-text {
    color: #8b949e;
  }
} */